<a href="https://colab.research.google.com/github/muhammadrisma/Data-Science-Python/blob/main/Pandas_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Pandas Data Analysis***
* Pandas is an open source and powerful python library
* Pandas for data Analysis and Visualization
* Pandas Data Structures and Analyze files
* import pandas as pd

In [1]:
import pandas as pd

In [4]:
new_s = pd.Series([10,20,30,40,50])

In [5]:
new_s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
put_index = pd.Series([10,20,30,40], index=["a","b","c","d"])

In [7]:
put_index

a    10
b    20
c    30
d    40
dtype: int64

In [16]:
colors = ["red","white","black"]
degrees = [30, 20, 15]
numbers = [10, 11, 12]
#make dataframe
new_df = pd.DataFrame({"colors":colors, "numbers":numbers, "degrees":degrees},
                      columns= ["colors", "numbers","degrees"],
                      index=range(1,4))

In [17]:
new_df

  colors  numbers  degrees
1    red       10       30
2  white       11       20
3  black       12       15

In [20]:
df_csv = pd.read_csv("sample10.csv", low_memory=False)

In [21]:
df_csv

   No   Cars  numbers  year  price
0   1   Car1      123  2005   5000
1   2   Car2      456  2006   6000
2   3   Car3      789  2007   7000
3   4   Car4     1011  2008   8000
4   5   Car5     1213  2009   9000
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000

In [22]:
df_csv.head(6) #print file teraatas

   No  Cars  numbers  year  price
0   1  Car1      123  2005   5000
1   2  Car2      456  2006   6000
2   3  Car3      789  2007   7000
3   4  Car4     1011  2008   8000
4   5  Car5     1213  2009   9000
5   6  Car6     1415  2010  10000

In [24]:
df_csv.tail() #print file tarbawah

   No   Cars  numbers  year  price
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000

In [33]:
new_url = "https://en.wikipedia.org/wiki/Academy_Awards"

In [35]:
new_html = pd.read_html(new_url, header=0, index_col=0)[3]

In [36]:
new_html.head()

                                         Unnamed: 1                    Unnamed: 2
Award                                    Best Actor                  Best Actress
Winner                  Anthony Hopkins(The Father)  Frances McDormand(Nomadland)
NaN                                             NaN                           NaN
Award                         Best Supporting Actor       Best Supporting Actress
Winner  Daniel Kaluuya(Judas and the Black Messiah)         Youn Yuh-jung(Minari)

In [39]:
df_csv.shape #to get the nummbers of row and column

(10, 5)

In [41]:
df_csv.info() #to get information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       10 non-null     int64
 1   Cars     10 non-null     object
 2   numbers  10 non-null     int64
 3   year     10 non-null     int64
 4   price    10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 528.0+ bytes

In [43]:
df_csv.describe() #to get statistic

             No      numbers        year         price
count  10.00000    10.000000    10.00000     10.000000
mean    5.50000  1281.000000  2009.50000   9500.000000
std     3.02765   703.167279     3.02765   3027.650354
min     1.00000   123.000000  2005.00000   5000.000000
25%     3.25000   844.500000  2007.25000   7250.000000
50%     5.50000  1314.000000  2009.50000   9500.000000
75%     7.75000  1768.500000  2011.75000  11750.000000
max    10.00000  2356.000000  2014.00000  14000.000000

In [44]:
df_csv.loc[df_csv["price"].argmax()][["Cars", "price"]]

Cars     Car10
price    14000
Name: 9, dtype: object

In [45]:
df_csv.loc[df_csv["price"].argmin()][["Cars", "price"]]

Cars     Car1
price    5000
Name: 0, dtype: object

# ***Excel Files***
* Using Pandas to extract and analyze excel data
            pd.read_excel()

In [47]:
import pandas as pandas

#new_df = pd.read_excel("demo.xlsx", sheet_name=none)

#print(new_df)

# ***JSON File***


```
pd.read_json()
```