<a href="https://colab.research.google.com/github/muhammadrisma/Data-Science-Python/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***List Data Struckture***



*   A list is a mutable(dapat diubah) and ordered collection of items(tersusun) 
*   List syntax: list((1,2,3,4,5)) or [1,2,3,4,5]

In [ ]:
#List of creation 
new_list = []
new_list1 = list()
print(new_list)
print(new_list1)

[]
[]

In [ ]:
#Type of list
type(new_list)
type(new_list1)

list

In [ ]:
#List of number
nums = [1, 2, 3, 4, 5]
nums1 = list((10, 15, 20))
print(nums)
print(nums1)
print(type(nums))
print(type(nums1))

[1, 2, 3, 4, 5]
[10, 15, 20]
<class 'list'>
<class 'list'>

In [ ]:
#List of strings
color = ["Red", "Blue", "White"] # we can use "" or ''
print(color)
print(type(color))

['Red', 'Blue', 'White']
<class 'list'>

In [ ]:
#Multiple type in list
mixed_list = ["Red", True, 10, 9.89] 
#this is called Mixed List, you can use int, boolean, str, fload at the same list
print(mixed_list)
print(type(mixed_list))

['Red', True, 10, 9.89]
<class 'list'>

In [ ]:
#List in a list
nums = [1, 2, [3.1, 3.5, 3.9], 4, 5]
print(nums)

[1, 2, [3.1, 3.5, 3.9], 4, 5]

In [ ]:
#Acessing list item with the index  number
print(nums[0]) #positive indexing
print(nums[1])
print(nums[2]) #showing all inner list because, inner list in index number 2
print(nums[-2]) #negative indexing, start with last number
print(nums[-1])

1
2
[3.1, 3.5, 3.9]
4
5

In [ ]:
#knowing the number of items in list 
len(nums)

5

In [ ]:
nums[0:3] #show all item in index 0 to index 2

[1, 2, [3.1, 3.5, 3.9]]

In [ ]:
nums[:3] #show all item in index 0 to index 2 but more easy

[1, 2, [3.1, 3.5, 3.9]]

In [ ]:
nums[3:] #show all item in index 3 to last index

[4, 5]

In [ ]:
print(nums[-2]) #using negative indexing
print(nums[-1])

4
5

**in & not in**

In [ ]:
colors = ["red","white","black"]

In [ ]:
"white" in colors #to check are "white" in colors list

True

In [ ]:
"yellow" not in colors #to check are "white" not in colors list

True

In [ ]:
colors.append("orange") # .append function to add value to the list

In [ ]:
print(colors) #now orange are in colors list

['red', 'white', 'black', 'orange']

In [ ]:
colors.insert(2, "purple") 
#to add value to the list but more specific,because you can place it in index nomber you chose

In [ ]:
print(colors)

['red', 'white', 'purple', 'black', 'orange']

In [ ]:
colors.pop()#remove random/specific item in list

'orange'

In [ ]:
colors

['red', 'white', 'purple', 'black']

In [ ]:
colors.extend(["green", "pink"]) #to add more than one item

In [ ]:
colors

['red', 'white', 'purple', 'black', 'green', 'pink']

In [ ]:
del colors[0] #to delete item must specific include the index number

In [ ]:
colors

['white', 'purple', 'black', 'green', 'pink']

In [ ]:
colors[0] = "Navy" #change the item based on index number

In [ ]:
colors

['Navy', 'purple', 'black', 'green', 'pink']

## ***Tuple Data Structures***



*   Tuple is immutable(Tidak dapat diubah) and ordered sequence
*   Syntax: tuple((1,2,3)) or (1,2,3)

In [ ]:
nums = tuple((1, 2, 3, 4, 5))
nums1 = (1, 2, 3, 4, 5, 6, 7)
type(nums)
type(nums1)

tuple

In [ ]:
len(nums1)

7

In [ ]:
nums1[2] #acces tuple iem using index number

3

In [ ]:
nums1[0:4]

(1, 2, 3, 4)

In [ ]:
nums1[:4]

(1, 2, 3, 4)

In [ ]:
nums1[4:]

(5, 6, 7)

In [ ]:
nums[2] = 10 # if we want to change tuple item, it will be an error

TypeError: ignored

In [ ]:
# we can't change tuple specifically but we can change tuple completely

In [ ]:
fruits = ("leci", "apple", "manggo")

In [ ]:
"leci" in fruits

True

In [ ]:
"banana" not in fruits

True

In [ ]:
del fruits

In [ ]:
fruits #it will be error because fruits have been deleted

NameError: ignored

## ***Dictionaries Data Structures***



*   Dictionary is mutable key value pairs to store collections
*   Syntax: {Key:Value} or dict({Key:Value})

In [ ]:
new_dict = {"Ronaldo": 7, "Messi": 10, "Salah": 9}
new_dict1 = dict({"Kane": 17, "Kaka": 4, "Ronaldinho": 11})

In [ ]:
print(type(new_dict))
print(type(new_dict1))

<class 'dict'>
<class 'dict'>

In [ ]:
#sequence of tuples
children = dict({
    ("Johny", "5"),
    ("stephen", "6"),
    ("Ali", "7"),
})

In [ ]:
type(children)

dict

In [ ]:
new_dict["Ronaldo"]

7

In [ ]:
new_dict["Ronaldo"] = "6" #change the value by the key

In [ ]:
new_dict

{'Messi': 10, 'Ronaldo': '6', 'Salah': 9}

In [ ]:
del new_dict["Ronaldo"] #remove the value by the key

In [ ]:
new_dict

{'Messi': 10, 'Salah': 9}

In [ ]:
"Ronaldo" in new_dict

False

In [ ]:
"Messi" in new_dict

True

In [ ]:
new_dict["Mbbape"] = "8" #to add new key and value

In [ ]:
new_dict

{'Mbbape': '8', 'Messi': 10, 'Salah': 9}

## ***Sets Data Structures***

*   Sets is unordered and immutable collection
*   No duplicate in sets
*   Syntax: {1,2,3} or set([1,2,3])

In [1]:
sets_nums = set((2, 4, 6, 8 ,10))
sets_nums1 = {1, 2, 3, 4 ,5, 6}

In [2]:
print(sets_nums)
print(sets_nums1)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6}

In [3]:
type(sets_nums)
type(sets_nums1)

set

In [5]:
 set("Python") #convert strings to set

{'P', 'h', 'n', 'o', 't', 'y'}

In [13]:
y = set({1: "name", 2: "age"}) #dictionary inside sets

In [14]:
type(y)

set

In [15]:
del y #remove sets

In [16]:
y

NameError: ignored