<a href="https://colab.research.google.com/github/muhammadrisma/Data-Science-Python/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***List Data Struckture***



*   A list is a mutable(dapat diubah) and ordered collection of items(tersusun) 
*   List syntax: list((1,2,3,4,5)) or [1,2,3,4,5]

In [1]:
#List of creation 
new_list = []
new_list1 = list()
print(new_list)
print(new_list1)

[]
[]

In [2]:
#Type of list
type(new_list)
type(new_list1)

list

In [4]:
#List of number
nums = [1, 2, 3, 4, 5]
nums1 = list((10, 15, 20))
print(nums)
print(nums1)
print(type(nums))
print(type(nums1))

[1, 2, 3, 4, 5]
[10, 15, 20]
<class 'list'>
<class 'list'>

In [5]:
#List of strings
color = ["Red", "Blue", "White"] # we can use "" or ''
print(color)
print(type(color))

['Red', 'Blue', 'White']
<class 'list'>

In [7]:
#Multiple type in list
mixed_list = ["Red", True, 10, 9.89] 
#this is called Mixed List, you can use int, boolean, str, fload at the same list
print(mixed_list)
print(type(mixed_list))

['Red', True, 10, 9.89]
<class 'list'>

In [8]:
#List in a list
nums = [1, 2, [3.1, 3.5, 3.9], 4, 5]
print(nums)

[1, 2, [3.1, 3.5, 3.9], 4, 5]

In [11]:
#Acessing list item with the index  number
print(nums[0]) #positive indexing
print(nums[1])
print(nums[2]) #showing all inner list because, inner list in index number 2
print(nums[-2]) #negative indexing, start with last number
print(nums[-1])

1
2
[3.1, 3.5, 3.9]
4
5

In [12]:
#knowing the number of items in list 
len(nums)

5

In [13]:
nums[0:3] #show all item in index 0 to index 2

[1, 2, [3.1, 3.5, 3.9]]

In [14]:
nums[:3] #show all item in index 0 to index 2 but more easy

[1, 2, [3.1, 3.5, 3.9]]

In [15]:
nums[3:] #show all item in index 3 to last index

[4, 5]

In [16]:
print(nums[-2]) #using negative indexing
print(nums[-1])

4
5