<a href="https://colab.research.google.com/github/muhammadrisma/Data-Science-Python/blob/main/The_Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Comparing Values***



*   Using >,<,<=,>=,!=,== operator to compare between values 
* Output will be boolean value( true or false)

In [ ]:
X = 10
Y = 5

In [ ]:
X > Y

True

In [ ]:
X < Y

False

In [ ]:
X >= Y

True

In [ ]:
X <= Y

False

In [ ]:
X != Y

True

In [ ]:
X == Y

False

In [ ]:
type(X == Y)

bool

In [ ]:
"c" == "c"

True

In [ ]:
"c" < "d"

True

### ***Output From Logic***



*   **and** operator: True both sides are True
*  **or** operator: True if any side is truw or borh side are True
*   not operator: To reverse the value

In [ ]:
5 > 3 and 10 <= 12

True

In [ ]:
5 > 3 and 13 <= 12

False

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
5 > 3 or 10 > 12

True

In [ ]:
3 < 1 and 13 <= 13

False

In [ ]:
True or False

True

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
not True != True

True

In [ ]:
not True == False

True

## ***Conditional Statements***

Use **if**, **elif** and **else**

In [ ]:
if 10 == 5*2:
  print("10 equal to 2 multiplied by 2")

10 equal to 2 multiplied by 2

In [ ]:
if 10 == 3*2:
  print("This will not executed")

In [ ]:
x = 15
if x >= 10:
  print("This string will be executed")
print("Thanks for finishing the process")

This string will be executed
Thanks for finishing the process

In [ ]:
x = 20
if x >= 30:
  print("You succeded")
if x <= 30:
  print("You failed")
print("Thanks for joining us")

You failed
Thanks for joining us

In [ ]:
x = 20
if x >= 30:
  print("You succeded")
else:
  print("You failed, try again later")
print("Thanks for joining us")

You failed, try again later
Thanks for joining us

In [ ]:
x = 30
if x > 30:
  print("You succeded")
elif x == 30:
  print("You are in the middle")
else:
  print("You failed")
print("Thanks for joining us")

You are in the middle
Thanks for joining us

## ***The While Loops***



*   Loop types: **while** and **for** loops
*   Repeate a block of code based on condition
*   Start the while loop wyth the while keyboard

In [ ]:
x = 1

while x < 7:
  print(x)
  x = x + 1

1
2
3
4
5
6

## ***The For Loops In Python***



*   Execution a portion of code once for each element in wequence of elements or iterate over collections
*   Use the for keyword to start the for loop

In [ ]:
for chars in "Programming":
  print(chars)

P
r
o
g
r
a
m
m
i
n
g

In [ ]:
for i in range(10):
  print("Python")

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [ ]:
for i in range(5, 15):
  print(i + i)

10
12
14
16
18
20
22
24
26
28

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)

1
2
3
4
5

## ***Library Functions***



*   Function in Python is a block of code or a block of related statements to perform something
*   Functions type: **Built in** and **User defined**
*   Call it to work and we can call it many times

**Built-in Functions**

In [ ]:
abs(11)

11

In [ ]:
abs(-12)

12

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
complex(3, 7)

(3+7j)

In [ ]:
x = dict(name = "Ris", age = "18")

In [ ]:
x

{'age': '18', 'name': 'Ris'}

In [ ]:
dir(x)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
x = input("Enter  your name: ")

Enter  your name: Ris

In [ ]:
y = int(input("What's Your Age: "))

What's Your Age: 18

In [ ]:
sum([1, 2,3 ,4, 5])

15

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
z = zip(x, y)

In [ ]:
print(list(z))

[(1, 4), (2, 5), (3, 6)]

**User Defined**

Start with def keyword

In [ ]:
def addiction(x, y):
  "Return sum of x and y back to the caller"
  add = x + y
  return add

In [ ]:
addiction(10, 5)

15

In [ ]:
help(addiction) #to give information abaout the function

Help on function addiction in module __main__:

addiction(x, y)
    Return sum of x and y back to the caller

*Variable Scope*

There are 2 main scope in python


1.   Global Scope
2.   Local Scope

In [ ]:
x = 50 
"Global scope"

def int():
  x = 10
  "local scope"
  print(x)

In [ ]:

int() #print value local scope

10

In [ ]:
print(x) #print value global scope

50

Make local scope becoming Global scope

In [ ]:
#x = 10

def some():
  global x #"local scope"
  x = 20

In [ ]:
print(x)

10

## ***Anonymous Lambda***

*   Function Without Name
*   Lambda Keyword
*   Any Number Of Arguments
*   Only a Single Expression
*   Lambda Arguments: Ecpressions
*   Return Function Objects

In [1]:
multiply = lambda x: x * 10

In [3]:
print(multiply(3))

30

In [5]:
print(multiply(5))

50

In [8]:
remaind = lambda y: y % 2

In [9]:
print(remaind(87))

1

In [12]:
def testing(n):
  return lambda i: i * n

In [13]:
num = testing(2)

In [14]:
print(num(3))

6

## ***Breking Loop***



*   Using **break** statement to break out a loop in a condition
*   We can break while loop and for loop to stop the loop

In [17]:
for x in range(0, 10):
  if x == 9:
    break
  print(x)
print(f"The last number in the loop is {x}")

0
1
2
3
4
5
6
7
8
The last number in the loop is 9

## ***Continue Loop***

In [20]:
for x in range(0, 10):
  if x == 5:
    continue
  print(x)

print(f"The last number of x = {x}")

0
1
2
3
4
6
7
8
9
The last number of x = 9

## ***The Else Statement***

Use **else** with for loop when the loop is not terminated by break

In [28]:
message = "Python is simple"

for i in message:
  if i == "z":
    break
else:
    print("There is no Z!")

There is no Z!

## ***Check Password***

Use for with range(), input(), if, print() and else

In [34]:
for i in range(4):
  password = input("Enter The Password: ")
  if password == "pass123":
    break
  print("Wrong Password")
else:
  print("The Process is Completed. Welcome!")

Enter The Password: sxcd
Wrong Password
Enter The Password: sdcs
Wrong Password
Enter The Password: pass123